.App {
  text-align: center;
}
.Profile {
  border-bottom: 2px solid black;
}
.Contact {
  border-bottom: 1px solid black;
  display: flex;
  justify-content:space-around;
}
.Education {
  border-bottom: 1px solid black;
  display: flex;
  justify-content:space-around;
}
.Skills {
  border-bottom: 1px solid black;
  display: flex;
  justify-content:space-around;
}
.Experience {
  display: flex;
  justify-content:space-around;
}
.Labels {
  font-weight: bold;
  text-align: left;
}